<div align="center">

<h1>About The Writer</h1>

<img src="http://i.imgur.com/jvVI5TN.jpg" width="350px"/>
<h2>Angela Ji</h2>
<p>25 | Vancouver, BC<br>Codecore</p>
Check out my <a href="https://github.com/angelasji/">GITHUB</a>
</div>
