<h1>BlogPress</h1>
<p>This will document Angela's progress building applications using Ruby on Rails. She will be continuously working on this project (and many others) throughout her time with CodeCore's bootcamp. Her goal in the end is to produce an application that not only has clean and maintainable code, it will also have a beautiful UI.</p>
