<h1>Welcome to Angela's Blog</h1>
<p>This will document my progress building applications using Ruby on Rails. I will be continuously working on project throughout my bootcamp. My goal is to produce clean and maintainable code, and a beautiful UI.</p>
