<h1>Search Results</h1>
<% if @results.empty? %>
<p>No matches!</p>
<% else %>
  <% @results.each do |r| %>
      <p><strong>Title:</strong> <%= r.title %></p>
      <p><strong>Body:</strong> <%= r.body %></p>
      <hr>
  <% end %>
<% end %>
